<form [formGroup]="formulario">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" [class.green-icon]="this.formulario.get('Iduser').valid"></i>
                </div>
            </div>
            <!-- <select name="Iduser" class="form-control" formControlName="Iduser" placeholder="User">
                <option *ngFor="let user of users" [value]="categoria.id">{{ categoria.descripcion }}</option>
            </select> -->
            <input type="text" class="form-control" formControlName="Iduser" placeholder="User">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-credit-card" [class.green-icon]="this.formulario.get('Rating').valid"></i>
                </div>
            </div>
            <input type="number" class="form-control" [disabled]="formulario.invalid" maxlength="16"
                formControlName="Rating" placeholder="Calificacion">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-calendar-alt" [class.green-icon]="this.formulario.get('RestauranID').valid"></i>
                </div>
            </div>
            <select name="RestauranID" formControlName="RestauranID" class="form-control">
                <option value="">Seleccione un restaurante</option>
                <option *ngFor="let restaurant of restaurantsList" [value]="restaurant.ID">{{ restaurant?.Name }}</option>
            </select>
            <!-- <input type="text" class="form-control" formControlName="RestauranID" placeholder="ID Restaurante"> -->
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-key" [class.green-icon]="this.formulario.get('date').valid"></i>
                </div>
            </div>
            <input type="date" class="form-control" formControlName="date" placeholder="dd/mm/yyyy">
        </div>
    </div>


    <button class="btn btn-success btn-lg btn-block" type="submit" (click)="postRequest()"><i class="fas fa-database"></i> Aceptar
    </button>
</form>